In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
    'VIG_CAT': np.random.random(25) > 0.5,
    'VIG_DAT': np.random.random(25) > 0.5,
    'VIG_SAT': np.random.random(25) > 0.5
})

In [8]:
df['Total_Conditions'] = df[['VIG_CAT', 'VIG_DAT', 'VIG_SAT']].sum(axis=1)

In [9]:
df.head()

   VIG_CAT  VIG_DAT  VIG_SAT  Total_Conditions
0     True     True    False                 2
1     True     True    False                 2
2     True     True    False                 2
3     True     True    False                 2
4     True    False    False                 1

In [10]:
df.head()

   VIG_CAT  VIG_DAT  VIG_SAT  Total_Conditions
0     True     True    False                 2
1     True     True    False                 2
2     True     True    False                 2
3     True     True    False                 2
4     True    False    False                 1

In [12]:
import random

In [13]:
random.random()

0.3978362172329293

In [15]:
df2 = df.copy()

In [16]:
for idx, row in enumerate(df2.values):
    for idx2, value in enumerate(row):
        if random.random() > 0.9:
            df2.iloc[idx, idx2] = None

In [21]:
df['SurveyType'] = np.where(df2.isnull().sum(axis=1) == 0, 'Full Respondent', 'Partial Respondent')

In [22]:
df.head()

   VIG_CAT  VIG_DAT  VIG_SAT  Total_Conditions          SurveyType
0     True     True    False                 2     Full Respondent
1     True     True    False                 2     Full Respondent
2     True     True    False                 2  Partial Respondent
3     True     True    False                 2     Full Respondent
4     True    False    False                 1     Full Respondent