In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('/Users/umaprasad/dat-02-22/ClassMaterial/Unit2/data/master.csv', parse_dates=['visit_date', 'calendar_date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252108 entries, 0 to 252107
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                252108 non-null  object
 1   visit_date        252108 non-null  datetime64[ns]
 2   visitors          252108 non-null  int64
 3   calendar_date     252108 non-null  datetime64[ns]
 4   day_of_week       252108 non-null  object
 5   holiday           252108 non-null  int64
 6   genre             252108 non-null  object
 7   area              252108 non-null  object
 8   latitude          252108 non-null  float64
 9   longitude         252108 non-null  float64
 10  reserve_visitors  108394 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(4)
memory usage: 21.2+ MB

In [12]:
query = df.isnull().sum() >0

In [14]:
df.loc[: , query]

        reserve_visitors
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
252103               6.0
252104              37.0
252105              35.0
252106               3.0
252107              32.0

[252108 rows x 1 columns]

In [16]:
idx_vals = [24, 31, 35, 68, 98, 104]

In [17]:
df.index

RangeIndex(start=0, stop=252108, step=1)

In [18]:
df.loc[idx_vals]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
24,air_ba937bf13d40fb24,2016-02-12,26,2016-02-12,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,18.0
31,air_ba937bf13d40fb24,2016-02-20,20,2016-02-20,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
35,air_ba937bf13d40fb24,2016-02-25,21,2016-02-25,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
68,air_ba937bf13d40fb24,2016-04-04,20,2016-04-04,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
98,air_ba937bf13d40fb24,2016-05-13,45,2016-05-13,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
104,air_ba937bf13d40fb24,2016-05-20,54,2016-05-20,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [21]:
df[['visitors','latitude']].mean()

visitors    20.973761
latitude    35.613121
dtype: float64

In [23]:
df['visitors'].mean()

20.973761245180636

In [25]:
df['day_of_week'].value_counts()

Friday       40351
Saturday     39262
Thursday     37996
Wednesday    36811
Tuesday      36015
Monday       31682
Sunday       29991
Name: day_of_week, dtype: int64

In [26]:
sample_dict = {
    'name' : 'Uma',
    ('age', 'weight'): [20, 105]
}

In [27]:
sample_dict['age','weight']

[20, 105]

In [29]:
df[['visitors']]

        visitors
0             25
1             32
2             29
3             22
4              6
...          ...
252103        49
252104        60
252105        69
252106        31
252107        26

[252108 rows x 1 columns]

In [35]:
df.nunique().sort_values(ascending=False)

id                  829
calendar_date       478
visit_date          478
visitors            204
longitude           108
latitude            108
area                103
reserve_visitors     49
genre                14
day_of_week           7
holiday               2
dtype: int64

In [36]:
!pip

Usage:
  pip <command> [options]

Commands:
  install                     Install packages.
  download                    Download packages.
  uninstall                   Uninstall packages.
  freeze                      Output installed packages in requirements format.
  list                        List installed packages.
  show                        Show information about installed packages.
  check                       Verify installed packages have compatible dependencies.
  config                      Manage local and global configuration.
  search                      Search PyPI for packages.
  cache                       Inspect and manage pip's wheel cache.
  wheel                       Build wheels from your requirements.
  hash                        Compute hashes of package archives.
  completion                  A helper command used for command completion.
  debug                       Show information useful for debugging.
  help                        Show help for commands.

General Options:
  -h, --help                  Show help.
  --isolated                  Run pip in an isolated mode, ignoring
                              environment variables and user configuration.
  -v, --verbose               Give more output. Option is additive, and can be
                              used up to 3 times.
  -V, --version               Show version and exit.
  -q, --quiet                 Give less output. Option is additive, and can be
                              used up to 3 times (corresponding to WARNING,
                              ERROR, and CRITICAL logging levels).
  --log <path>                Path to a verbose appending log.
  --no-input                  Disable prompting for input.
  --proxy <proxy>             Specify a proxy in the form
                              [user:passwd@]proxy.server:port.
  --retries <retries>         Maximum number of retries each connection should
                              attempt (default 5 times).
  --timeout <sec>             Set the socket timeout (default 15 seconds).
  --exists-action <action>    Default action when a path already exists:
                              (s)witch, (i)gnore, (w)ipe, (b)ackup, (a)bort.
  --trusted-host <hostname>   Mark this host or host:port pair as trusted,
                              even though it does not have valid or any HTTPS.
  --cert <path>               Path to alternate CA bundle.
  --client-cert <path>        Path to SSL client certificate, a single file
                              containing the private key and the certificate
                              in PEM format.
  --cache-dir <dir>           Store the cache data in <dir>.
  --no-cache-dir              Disable the cache.
  --disable-pip-version-check
                              Don't periodically check PyPI to determine
                              whether a new version of pip is available for
                              download. Implied with --no-index.
  --no-color                  Suppress colored output
  --no-python-version-warning
                              Silence deprecation warnings for upcoming
                              unsupported Pythons.
  --use-feature <feature>     Enable new functionality, that may be backward
                              incompatible.
  --use-deprecated <feature>  Enable deprecated functionality, that will be
                              removed in the future.

In [37]:
!pip install

ERROR: You must give at least one requirement to install (see "pip help install")

In [39]:
import numpy as np

In [40]:
np

In [42]:
var = np.arange(20).reshape(5, 4)

In [43]:
var

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [45]:
df['visitors_squared'] = df['visitors']**2