### Unit 1 Homework:  Scraping the Yelp Website

Welcome!  For this homework assignment you'll be tasked with building a web scraper in a manner that builds on what was covered in our web scraping class.

The assignment will extend the lab work done during that time, where we built a dataset that listed the name, number of reviews and price range for restaurant on the following web page: https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1

**What You'll Turn In:**

A finished jupyter notebook that walks us through the steps you took in order to get your results.  Provide notes where appropriate to explain what you are doing.

The notebook should produce a finished dataset at the end.  

If for some reason you're experiencing problems with the final result, please let someone know when turning it in.
 
The homework is divided into five tiers, each of which have increasing levels of difficulty:

##### Tier 1: Five Columns From the First Page

At the most basic level for this assignment, you will need to extend what we did in class, and create a dataset that has five columns in it that are 30 rows long.  This means you will not need to go off the first page in order to complete this section.

##### Tier 2:  100 Row Dataset With At Least 3 Columns

For this portion of the assignment, take 3 of your columns from step 1, and extend them out to multiple pages on the yelp website.  You should appropriately account for the presence of missing values.

##### Tier 3:  100 Row Dataset With At Least 5 Columns

Very similar to Tier 2, but if you use this many columns you will be forced to encounter some columns that will frequently have missing values, whereas with Tier 2 you could likely skip these if you wanted to.  

##### Tier 4:  100 Row Dataset With At Least 5 Columns + Individual Restaurant Categories

Restaurants often have different categories associated with them, so grabbing them individually as separate values is often challenging.  To complete this tier, you'll have to find a way to 'pick out' each of the individual categories as their own separate column value.  

##### Tier 5:  Unlimited Row Dataset With At Least 5 Columns + Individual Restaurant Categories

Take what you did in Tier 4, and extend it so that the code will work with an arbitrary number of pages.  Ie, regardless of how many pages there are listing the best restaurants in London, your scraper will find them, and cleanly parse their information into clean datasets.

### Hints

Here are a few tips that will save you time when completing this assignment:

 - The name, average rating, total ratings and neighborhood of a restaurant tend to be the 'easy' ones, because they rarely have missing values, so what ever logic you use on the first page will typically apply to all pages.  They are a good place to start
 - Phone numbers, price ranges and reviews are more commonly missing, so if you are trying to get a larger number of items from them across multiple pages you should expect to do some error handling
 - You can specify any sort of selector when using the `find_all()` method, not just `class`.  For example, imagine you have the following `<div>` tag:
    `<div class='main-container red-blue-green' role='front-unit' aria-select='left-below'>Some content here</div>`
    
   This means that when you use `scraper.find_all('div')`, you can pass in arguments like `scraper.find_all('div', {'role': 'front-unit'})` or anything else that allows you to isolate that particular tag.
 - When specifying selectors like `{'class': 'dkght__384Ko'}`, sometimes less is more.  If you include multiple selectors, you are saying return a tag with **any one of these** distinctions, not all of them.  So if your results are large, try different combinations of selectors to get the smallest results possible.
 - If you begin dealing with values that are unreliably entered, you should use the 'outside in' technique where you grab a parent container that holds the element and find a way to check to see if a particular value is there by scraping it further.  The best way to do this is to try and find a unique container for every single restaurant.  This means that you will have a reliable parent element for every single restaurant, and within *each of these* you can search for `<p>`, `<a>`, `<div>`, and `<span>` tags and apply further logic.
 - When you get results from `BeautifulSoup`, you will be given data that's denoted as either `bs4.element.Tag` or `bs4.element.ResultSet`.  They are **not the same**.  Critically, you can search a `bs4.element.Tag` for further items, but you cannot do this with a `bs4.element.ResultSet`.  
 
   For example, let's say you grab all of the divs from a page with `scraper.find_all('div')` and save it as the variable `total_divs`.  This means `total_divs` will look somethig like this:  
   
   `[<div><p>Div content</p><p>Second paragraph</p></div>,`
      `<div><p>Div content</p><p>Second paragraph</p></div>,`
      `<div><p>Div content</p><p>Second paragraph</p></div>]`
      
   In this case the variable `total_divs` is a result set and there's nothing else you can do to it directly.  However, every item within `total_divs` is a tag, which means you can scrape it further.  
   
   So if you wanted you could write a line like:  `total_paragraphs = [div.find_all('p') for div in total_divs]`, and get the collection of paragraphs within each div.  
   
   If you confuse the two you'll get the following error message:  
   
   `AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?`
 - The values of the different selectors change periodically on yelp, so if your scraper all of a sudden stops working that's probably why.  Ie, if you have a command like `scraper.find_all('div', {'class': '485dk0W__container09'}` that no longer returns results, the class `485dk0W__container09` may now be `r56kW__container14` or something similar.

In [35]:
# your code here
import requests
from bs4 import BeautifulSoup
url='https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C+United+Kingdom&ns=1'
yelp_req = requests.get(url, verify=False)
scraper = BeautifulSoup(yelp_req.text)

/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:981: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.yelp.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

In [36]:
# Getting first column Review
reviews = scraper.find_all('span', {'class': 'reviewCount__09f24__EUXPN css-e81eai'})
reviews = [rs.text for rs in reviews]
reviews

['282', '1842', '267', '380', '204', '494', '122', '206', '106', '547']

In [37]:
# Getting second column Price Range
priceRange = scraper.find_all('span', {'class': 'priceRange__09f24__2O6le css-xtpg8e'})
priceRange = [rs.text for rs in priceRange]
priceRange

['££', '££', '££', '££', '££££', '££', '££', '££', '££', '££']

In [38]:
# Getting second column Price Range
titles = scraper.find_all('span', {'class': 'css-1pxmz4g'})
titles = [rs.text for rs in titles]
titles

['1.\xa0The Mayfair Chippy',
 '2.\xa0Dishoom',
 '3.\xa0Ffiona’s Restaurant',
 '4.\xa0Flat Iron',
 '5.\xa0Restaurant Gordon Ramsay',
 '6.\xa0The Breakfast Club',
 '7.\xa0The Fat Bear',
 '8.\xa0Padella',
 '9.\xa0The Golden Chippy',
 '10.\xa0Dishoom']

In [42]:
clean_titles = titles
clean_titles = [s[s.find('\xa0'):] for s in titles]
clean_titles = [rs.replace('\xa0','') for rs in clean_titles]
clean_titles

10

In [67]:
Streets = scraper.find_all('span', {'class': 'raw__09f24__3Obuy'})
Streets = [rs.text for rs in Streets]
Streets = [rss for rss in Streets if rss[:1].isnumeric()]
Streets


import pandas as pd
df_dict = {
    'Name': clean_titles,
    'NumReviews': reviews,
    'PriceRange': priceRange,
    'Streets': Streets
}

df = pd.DataFrame(df_dict)
df

,Name,NumReviews,PriceRange,Streets
0,The Mayfair Chippy,282,££,14 North Audley Street
1,Dishoom,1842,££,12 Upper Saint Martin's Lane
2,Ffiona’s Restaurant,267,££,51 Kensington Church Street
3,Flat Iron,380,££,17 Beak Street
4,Restaurant Gordon Ramsay,204,££££,68 Royal Hospital Road
5,The Breakfast Club,494,££,33 D'Arblay Street
6,The Fat Bear,122,££,61 Carter Lane
7,Padella,206,££,6 Southwark Street
8,The Golden Chippy,106,££,62 Greenwich High Road
9,Dishoom,547,££,22 Kingly Street

In [87]:
# Getting second column Price Range
#category = scraper.find_all('a', {'class': 'css-1joxor6'})
#category = scraper.find_all('span', {'class': 'css-f7rmk3'})
category = scraper.find_all('span', {'class': 'display--inline__09f24__EhyFv border-color--default__09f24__1eOd'})

category = [rs.text for rs in category]
category

cities = scraper.find_all('p', {'class': 'css-8jxw1i'})
cities = [rs.text for rs in cities]
cities = [rss for rss in cities if rss[:1].isalpha()]
cities

['Soho',
 'Mayfair',
 'Covent Garden',
 'Soho',
 'Kensington',
 'Soho',
 'Chelsea',
 'Blackfriars',
 'Soho',
 'Soho']

In [99]:
page_ranges = [0, 10, 20]
titles_list = []
price_ranges = []
num_reviews  = []
street_list = []
city_list = []

for i in page_ranges:
    url = f'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=11&start={i}'
    req = requests.get(url, verify=False).text
    scraper = BeautifulSoup(req)
    p_ranges = scraper.find_all('span', {'class': 'css-xtpg8e'})
    p_ranges = [price.text for price in p_ranges]
    price_ranges += p_ranges
    reviews = scraper.find_all('span', {'class': 'reviewCount__09f24__EUXPN'})
    reviews = [review.text for review in reviews]
    num_reviews += reviews 
    titles = scraper.find_all('span', {'class': 'css-1pxmz4g'})
    titles = [rs.text for rs in titles]
    titles = [s[s.find('\xa0'):] for s in titles]
    titles = [rs.replace('\xa0','') for rs in titles]
    titles_list += titles
    Streets = scraper.find_all('span', {'class': 'raw__09f24__3Obuy'})
    Streets = [rs.text for rs in Streets]
    Streets = [rss for rss in Streets if rss[:1].isnumeric()]
    street_list += Streets

    cities = scraper.find_all('p', {'class': 'css-8jxw1i'})
    cities = [rs.text for rs in cities]
    cities = [rss for rss in cities if rss[:1].isalpha()]
    city_list += cities

price_ranges.append(None)
print(f'titles - {len(titles_list)}  review - {len(num_reviews)}  Price - {len(price_ranges)}  street - {len(street_list)}  city - {len(city_list)}')


import pandas as pd
df_dict = {
    'Name': titles_list,
    'NumReviews': num_reviews,
    'PriceRange': price_ranges,
    'Streets': street_list,
    'City': city_list
}

df = pd.DataFrame(df_dict)
df

/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:981: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.yelp.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:981: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.yelp.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(
/opt/anaconda3/lib/python3.8/site-packages/urllib3/connectionpool.py:981: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.yelp.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

titles - 30  review - 30  Price - 30  street - 30  city - 30

,Name,NumReviews,PriceRange,Streets,City
0,The Breakfast Club,494,££,33 D'Arblay Street,Soho
1,The Mayfair Chippy,282,££,14 North Audley Street,Mayfair
2,Dishoom,1841,££,12 Upper Saint Martin's Lane,Covent Garden
3,Flat Iron,380,££,17 Beak Street,Soho
4,Ffiona’s Restaurant,267,££,51 Kensington Church Street,Kensington
5,Dishoom,547,££,22 Kingly Street,Soho
6,Restaurant Gordon Ramsay,204,££££,68 Royal Hospital Road,Chelsea
7,The Fat Bear,122,££,61 Carter Lane,Blackfriars
8,Mother Mash,470,££,26 Ganton Street,Soho
9,NOPI,272,£££,21-22 Warwick Street,Soho
10,Sketch,826,£££,9 Conduit Street,Mayfair
11,Padella,206,££,6 Southwark Street,London Bridge
12,Regency Café,392,£,17-19 Regency Street,Westminster
13,The Golden Chippy,106,££,62 Greenwich High Road,Deptford
14,Duck & Waffle,705,£££,110 Bishopsgate,Aldgate
15,The English Rose Cafe and Tea Shop,213,££,4 Lower Grosvenor Place,Victoria
16,Mestizo,152,££,103 Hampstead Road,Euston
17,The Queens Arms,120,££,11 Warwick Way,Victoria
18,Kennington Lane Cafe,96,£,383 Kennington Lane,Vauxhall
19,Honey & Co,110,££,25a Warren Street,Fitzrovia
20,Lanzhou Noodle Bar,351,£,33 Cranbourne Street,Covent Garden
21,BAO - Soho,184,££,53 Lexington Street,Soho
22,Yauatcha,480,£££,15-17 Broadwick Street,Soho
23,Abeno,101,££,47 Museum Street,Bloomsbury
24,Honest Burgers Meard St - Soho,278,££,4a Meard St,Soho
25,Hawksmoor Seven Dials,342,£££,11 Langley Street,Covent Garden
26,Soho Joe,27,££,34 D'Arblay St,Soho
27,Gordon Ramsay Street Pizza,30,£££,10 Bread Street,The City
28,The Palomar Restaurant,104,£££,34 Rupert Street,Chinatown
29,The Wolseley,552,None,160 Picadilly,Mayfair