### Unit 1 Homework:  Scraping the Yelp Website

Welcome!  For this homework assignment you'll be tasked with building a web scraper in a manner that builds on what was covered in our web scraping class.

The assignment will extend the lab work done during that time, where we built a dataset that listed the name, number of reviews and price range for restaurant on the following web page: https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1

**What You'll Turn In:**

A finished jupyter notebook that walks us through the steps you took in order to get your results.  Provide notes where appropriate to explain what you are doing.

The notebook should produce a finished dataset at the end.  

If for some reason you're experiencing problems with the final result, please let someone know when turning it in.
 
The homework is divided into five tiers, each of which have increasing levels of difficulty:

##### Tier 1: Five Columns From the First Page

At the most basic level for this assignment, you will need to extend what we did in class, and create a dataset that has five columns in it that are 30 rows long.  This means you will not need to go off the first page in order to complete this section.

##### Tier 2:  100 Row Dataset With At Least 3 Columns

For this portion of the assignment, take 3 of your columns from step 1, and extend them out to multiple pages on the yelp website.  You should appropriately account for the presence of missing values.

##### Tier 3:  100 Row Dataset With At Least 5 Columns

Very similar to Tier 2, but if you use this many columns you will be forced to encounter some columns that will frequently have missing values, whereas with Tier 2 you could likely skip these if you wanted to.  

##### Tier 4:  100 Row Dataset With At Least 5 Columns + Individual Restaurant Categories

Restaurants often have different categories associated with them, so grabbing them individually as separate values is often challenging.  To complete this tier, you'll have to find a way to 'pick out' each of the individual categories as their own separate column value.  

##### Tier 5:  Unlimited Row Dataset With At Least 5 Columns + Individual Restaurant Categories

Take what you did in Tier 4, and extend it so that the code will work with an arbitrary number of pages.  Ie, regardless of how many pages there are listing the best restaurants in London, your scraper will find them, and cleanly parse their information into clean datasets.

### Hints

Here are a few tips that will save you time when completing this assignment:

 - The name, average rating, total ratings and neighborhood of a restaurant tend to be the 'easy' ones, because they rarely have missing values, so what ever logic you use on the first page will typically apply to all pages.  They are a good place to start
 - Phone numbers, price ranges and reviews are more commonly missing, so if you are trying to get a larger number of items from them across multiple pages you should expect to do some error handling
 - You can specify any sort of selector when using the `find_all()` method, not just `class`.  For example, imagine you have the following `<div>` tag:
    `<div class='main-container red-blue-green' role='front-unit' aria-select='left-below'>Some content here</div>`
    
   This means that when you use `scraper.find_all('div')`, you can pass in arguments like `scraper.find_all('div', {'role': 'front-unit'})` or anything else that allows you to isolate that particular tag.
 - When specifying selectors like `{'class': 'dkght__384Ko'}`, sometimes less is more.  If you include multiple selectors, you are saying return a tag with **any one of these** distinctions, not all of them.  So if your results are large, try different combinations of selectors to get the smallest results possible.
 - If you begin dealing with values that are unreliably entered, you should use the 'outside in' technique where you grab a parent container that holds the element and find a way to check to see if a particular value is there by scraping it further.  The best way to do this is to try and find a unique container for every single restaurant.  This means that you will have a reliable parent element for every single restaurant, and within *each of these* you can search for `<p>`, `<a>`, `<div>`, and `<span>` tags and apply further logic.
 - When you get results from `BeautifulSoup`, you will be given data that's denoted as either `bs4.element.Tag` or `bs4.element.ResultSet`.  They are **not the same**.  Critically, you can search a `bs4.element.Tag` for further items, but you cannot do this with a `bs4.element.ResultSet`.  
 
   For example, let's say you grab all of the divs from a page with `scraper.find_all('div')` and save it as the variable `total_divs`.  This means `total_divs` will look somethig like this:  
   
   `[<div><p>Div content</p><p>Second paragraph</p></div>,`
      `<div><p>Div content</p><p>Second paragraph</p></div>,`
      `<div><p>Div content</p><p>Second paragraph</p></div>]`
      
   In this case the variable `total_divs` is a result set and there's nothing else you can do to it directly.  However, every item within `total_divs` is a tag, which means you can scrape it further.  
   
   So if you wanted you could write a line like:  `total_paragraphs = [div.find_all('p') for div in total_divs]`, and get the collection of paragraphs within each div.  
   
   If you confuse the two you'll get the following error message:  
   
   `AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?`
 - The values of the different selectors change periodically on yelp, so if your scraper all of a sudden stops working that's probably why.  Ie, if you have a command like `scraper.find_all('div', {'class': '485dk0W__container09'}` that no longer returns results, the class `485dk0W__container09` may now be `r56kW__container14` or something similar.

In [29]:
#Tier1

import pandas as pd
import requests
from bs4 import BeautifulSoup

url = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1'
yelp_req = requests.get(url)
scraper = BeautifulSoup(yelp_req.text)

url2 = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1&start=10'
yelp_req2 = requests.get(url2)
scraper2 = BeautifulSoup(yelp_req2.text)

url3 = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1&start=20'
yelp_req3 = requests.get(url2)
scraper3 = BeautifulSoup(yelp_req3.text)

#three different urls, will want to loop instead for next assignment

num_reviews = scraper.find_all('span', {'class': 'reviewCount__09f24__EUXPN css-e81eai'})
num_reviews = [str(review) for review in num_reviews]
num_reviews = [review.replace('</span>', '') for review in num_reviews]
num_reviews = [review.split('>')[1] for review in num_reviews]

num_reviews2 = scraper2.find_all('span', {'class': 'reviewCount__09f24__EUXPN css-e81eai'})
num_reviews2 = [str(review) for review in num_reviews2]
num_reviews2 = [review.replace('</span>', '') for review in num_reviews2]
num_reviews2 = [review.split('>')[1] for review in num_reviews2]

num_reviews3 = scraper2.find_all('span', {'class': 'reviewCount__09f24__EUXPN css-e81eai'})
num_reviews3 = [str(review) for review in num_reviews3]
num_reviews3 = [review.replace('</span>', '') for review in num_reviews3]
num_reviews3 = [review.split('>')[1] for review in num_reviews3]

num_reviews = num_reviews + num_reviews2 + num_reviews3

price_range = scraper.find_all('span', {'class': 'priceRange__09f24__2O6le css-xtpg8e'}) + scraper2.find_all('span', {'class': 'priceRange__09f24__2O6le css-xtpg8e'}) +scraper3.find_all('span', {'class': 'priceRange__09f24__2O6le css-xtpg8e'})
price_range = [price.text for price in price_range]

paragraphs = scraper.find_all('a', {'class': 'css-166la90'}) + scraper2.find_all('a', {'class': 'css-166la90'}) +scraper3.find_all('a', {'class': 'css-166la90'})
paragraphs = [paragraph.text for paragraph in paragraphs]
paragraphs = [paragraph for paragraph in paragraphs if len(paragraph)>1]

#above three column categories done in lab

stars = scraper.find_all('div', {'class': 'i-stars__09f24__1T6rz'})+scraper2.find_all('div', {'class': 'i-stars__09f24__1T6rz'})+scraper3.find_all('div', {'class': 'i-stars__09f24__1T6rz'})
stars = [str(star) for star in stars]
stars = [star.replace('<div aria-label=','') for star in stars]
stars = [star.split('class')[0] for star in stars]
#find all star ratings
#lines 49 + 50: cleans up the returned value to only have star rating

categories = scraper.find_all('p', {'class': 'css-n6i4z7'}) +scraper2.find_all('p', {'class': 'css-n6i4z7'}) + scraper3.find_all('p', {'class': 'css-n6i4z7'})

categories = [category.text for category in categories]
update_category = []

new_category = []
for category in range(len(categories)-29):
    update_category.append(categories[category])
for category in range(13,len(categories)-16):
    update_category.append(categories[category])
for category in range(26,len(categories)-3):
    update_category.append(categories[category])    
    
for item in update_category:
    count = 0
    for string_index in range(len(item)):
        if item[string_index] == '\xa3':
            count = count + 1
    new_category.append(item[count::])   


#find all food category types
#lines 54,6-,62,64: scrapes for the food categories, but also retrieves some reviews?... temporary band-aid solution to save all the relevant info into a new list
#lines 42 to 47: removes the price range


df_dict = {
    'Name': paragraphs,
    'NumReviews': num_reviews,
    'PriceRange': price_range,
    'StarRating' : stars,
    'FoodType' : new_category
}

df = pd.DataFrame(df_dict)
df

,Name,NumReviews,PriceRange,StarRating,FoodType
0,The Mayfair Chippy,282,££,"""4.5 star rating""",Fish & Chips
1,Dishoom,1840,££,"""4.5 star rating""",Indian
2,Flat Iron,380,££,"""4.5 star rating""",Steakhouses
3,Ffiona’s Restaurant,267,££,"""4.5 star rating""",British
4,Restaurant Gordon Ramsay,204,££££,"""4.5 star rating""","French, British"
5,The Fat Bear,122,££,"""4.5 star rating""","American (Traditional), Soul Food, Cajun/Creole"
6,Sketch,826,£££,"""4 star rating""","French, Modern European, Cocktail Bars"
7,The Breakfast Club,494,££,"""4 star rating""","Coffee & Tea, Breakfast & Brunch, American (Tr..."
8,Padella,206,££,"""4.5 star rating""",Italian
9,Dishoom,547,££,"""4.5 star rating""",Indian
10,The Golden Chippy,106,££,"""5 star rating""",Fish & Chips
11,NOPI,272,£££,"""4.5 star rating""",Mediterranean
12,Lanzhou Noodle Bar,351,£,"""4 star rating""","Chinese, Noodles"
13,Duck & Waffle,705,£££,"""4 star rating""","Modern European, Bars, British"
14,Mestizo,152,££,"""4 star rating""","Mexican, Bars"
15,Kennington Lane Cafe,96,£,"""5 star rating""",Cafes
16,The Queens Arms,120,££,"""4.5 star rating""","British, Pubs, Gastropubs"
17,Yauatcha,480,£££,"""4 star rating""","Dim Sum, Seafood, Noodles"
18,Mother Mash,470,££,"""4 star rating""",British
19,Abeno,101,££,"""4.5 star rating""",Japanese
20,The Golden Chippy,106,££,"""5 star rating""",Fish & Chips
21,NOPI,272,£££,"""4.5 star rating""",Mediterranean
22,Lanzhou Noodle Bar,351,£,"""4 star rating""","Chinese, Noodles"
23,Duck & Waffle,705,£££,"""4 star rating""","Modern European, Bars, British"
24,Mestizo,152,££,"""4 star rating""","Mexican, Bars"
25,Kennington Lane Cafe,96,£,"""5 star rating""",Cafes
26,The Queens Arms,120,££,"""4.5 star rating""","British, Pubs, Gastropubs"
27,Yauatcha,480,£££,"""4 star rating""","Dim Sum, Seafood, Noodles"
28,Mother Mash,470,££,"""4 star rating""",British
29,Abeno,101,££,"""4.5 star rating""",Japanese